h1{
    color: teal;
    font-size: 48px;
    text-align: center;
    text-decoration: underline;
}
p{
color: #31d2f2;
text-align: center;
font-size: 30px;
    margin: 20px;
}
 .navbar{
     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin: auto;
     background-color: aliceblue;
 }
 .navbar.logo a{
     font-size: 800px;
     font-weight: 500;
     color: mediumspringgreen;
     text-decoration:none;
 }
 .navbar .menu{
 list-style: none;
margin: 0 8px;
     display: flex;
     position: relative;

 }
 .navbar .menu li{
     list-style: none;
     margin: 0 8px;
 }
 .navbar .menu a{
     font-weight: 500;
     font-size: 20px;
     color: darkkhaki;
     padding: 6px 0;
     text-decoration: none;
 }
 .navbar .menu a:hover{
     color: beige;
 text-decoration: underline;
 }




